@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>
<p>Welcome</p>
<div class="text-center">
    <ul>
        <li><a href="/Admin/ManagerUser">Manage user</a></li>
        <li><a href="/Admin/ManagerRoles">Manage roles</a></li>
        <li><a href="/Reports/Index">View Reports</a></li>
    </ul>
</div>
